<div  class="form-group">
  <label for="numero" class="col-sm-2 control-label">Numero</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" name="numero" ng-model="trampa.numerotrampa"  placeholder=" Numero de Trampa"  required/>
    <span  class="help-inline1" ng-show="myForm.$submitted || myForm.numero.$touched">
      <span ng-show="myForm.numero.$error.required">El campo numero es obligatorio</span>
    </span>
  </div>
</div>
<div class="form-group">
  <label for="selectedTipoTrampa" class="col-sm-2 control-label">Tipo Trampa</label>
  <div class="col-sm-10">
    <select name="TipoTrampa"  class="form-control" ng-model="trampa.selectedTipoTrampa"
      ng-options="tipo.id as tipo.name for tipo in trampa.tipotrampas" required></select>
       <span class="help-inline" ng-show="myForm.$submitted || myForm.TipoTrampa.$touched">
        <span ng-show="myForm.TipoTrampa.$error.required">El campo tipo trampa es obligatorio.</span>
      </span>
  </div>
</div>
 <!-- <span>Selected tipo id is {{selectedTipoTrampa.id}}</span> -->
<div class="form-group">
  <label for="idclasificaiontrampa" class="col-sm-2 control-label">Clasificacion Trampa</label>
  <div class="col-sm-10">
    <select name="idclasificaiontrampa" class="form-control" ng-model="trampa.selectedClasificacionTrampa"
      ng-options="clasificacion.id as clasificacion.name for clasificacion in trampa.clasificaciones" required ></select>
      <span class="help-inline" ng-show="myForm.$submitted || myForm.idclasificaiontrampa.$touched">
        <span ng-show="myForm.idclasificaiontrampa.$error.required">El campo clasificacion es obligatorio.</span>
      </span>

  </div>
</div>
<!-- <span>Selected clasificacion id is {{selectedClasificacionTrampa.id}}</span> -->
<div class="form-group">
  <label for="idubicacion" class="col-sm-2 control-label">Ubicacion Trampa</label>
  <div class="col-sm-10">
    <select name="idubicacion" class="form-control" ng-model="trampa.selectedUbicacion"
    ng-options="ubicacion.id as ubicacion.name for ubicacion in trampa.ubicaciones" required></select>
    <span class="help-inline" ng-show="myForm.$submitted || myForm.idubicacion.$touched">
      <span ng-show="myForm.idubicacion.$error.required"> El campo ubicacion es obligatorio</span>
    </span>
  </div>
</div>



<!-- <span>Selected ubicacion is {{selectedUbicacion.id}}</span> -->
<div class="form-group">
  <label for="description" class="col-sm-2 control-label">Descripcion</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" name="description" placeholder=" Descripcion" ng-model="trampa.descripcion" />
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save" ng-disabled="myForm.$invalid" />
  </div>
</div>
