

<div class="page-header">
  <h3>Configuracion Trampa <small>Listado</small></h3>
</div>
<button ui-sref="newTrampa"  type="button" class="btn btn-primary " ng-show="currentUser.role=='ADMIN'">
  <i class="fa fa-plus-circle fa-fw"></i>&nbsp; Crear
</button>

<table class="table">
  <thead>
    <tr>
      <th>No. de Trampa</th>
      <th>Tipo de trampa</th>
      <th>Ubicacion</th>
      <th>Clasificacion</th>
      <th>Planta</th>



    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="trampa in trampa.trampas">
      <td>{{  trampa.numerotrampa }}</td>
      <td>{{  trampa.tiponame }}</td>
      <td>{{  trampa.ubicacionname }}</td>
      <td>{{  trampa.clasificacionname }}</td>
      <td>{{  trampa.name }}</td>


      <td>
        <script type="text/ng-template" id="myModalContent.html">
          <div class="modal-header">
            <h3 class="modal-title">Quieres borrar este registro?</h3>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="deleteTrampa(); ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
          </div>
        </script>
        <button type="button" class="btn btn-danger" ng-click="deleteRow('sm',trampa.id, $index )" ng-show="currentUser.role=='ADMIN'">Delete</button>
        <div ng-show="selected">Selection from a modal: {{ selected }}</div>
      </td>
    </tr>
  </tbody>
</table>
