

<div class="page-header">
  <h3>Configuracion Trampa <small>Listado</small></h3>
</div>
<button ui-sref="newTrampa"  type="button" class="btn btn-primary ">
  <i class="fa fa-plus-circle fa-fw"></i>&nbsp; Crear
</button>

<table class="table">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Planta</th>
      <th>Tipo</th>
      <th>Clasificacion</th>
      <th>Ubicacion</th>

    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="trampa in trampa.trampas">
      <td>{{  trampa.numerotrampa }}</td>
      <td>{{  trampa.name }}</td>
      <td>{{  trampa.tiponame }}</td>
      <td>{{  trampa.clasificacionname }}</td>
      <td>{{  trampa.ubicacionname }}{{menssage}}</td>
        
      <td>
       
        
        <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
          <h3 class="modal-title">Quieres borrar este registro?</h3>
        </div>
        <div class="modal-body">
          
         
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        </script>       
        <button type="button" class="btn btn-danger" ng-click="deleteRow('sm');deleteTrampa(trampa.id,$index);">Delete</button>
        <div ng-show="selected">Selection from a modal: {{ selected }}</div>
        
       
      </td>
    </tr>
  </tbody>
</table>
 

