

<div class="page-header">
  <h3>Eventos <small>Listado</small></h3>
</div>
<button ui-sref="newTrampa"  type="button" class="btn btn-primary ">
  <i class="fa fa-plus-circle fa-fw"></i>&nbsp; Crear
</button>

<table class="table">
  <thead>
    <tr>
      <th>trampa</th>
      <th>Ubicacion</th>
      <th>Clasificacion</th>
      <th>Fecha Evento</th>
      <th>Semana</th>
      <th>Observaciones</th>

    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="evento in evento.eventos">
      <td>{{  evento.numerotrampa }}</td>
      <td>{{  evento.ubicacionname }}</td>
      <td>{{  evento.clasificacionname }}</td>
      <td>{{  evento.fechaevento }}</td>
      <td>{{  evento.semana }}</td>
      <td>{{  evento.descripcion }}</td>
      <td>
      <button class="btn btn-default btn-xs btn-detail" ui-sref="editEvento" >
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Edit </button>
      <button class="btn btn-danger btn-xs btn-delete" ng-click="deleteEvento(evento.id)" >Delete</button>
      </td>
    </tr>
  </tbody>
</table>
 