

<div class="page-header">
  <h3>Eventos <small>Listado</small></h3>
</div>
<button ui-sref="newTrampa"  type="button" class="btn btn-primary ">
  <i class="fa fa-plus-circle fa-fw"></i>&nbsp; Crear
</button>


<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>trampa</th>
      <th>Ubicacion</th>
      <th>Clasificacion</th>
      <th>Fecha Evento</th>
      <th>Semana</th>
      <th>Observaciones</th>

    </tr>
  </thead>
  <tbody >

    <tr class="row" ng-repeat-start="item in evento.eventos" ng-click="evento.showDetalle(item.id)">
      <td>
        
      <div class="col-sm-2 text-right">
        <a href="">
        <i ng-hide="evento.active==item.id" class="fa fa-plus-square-o fa-2x"> </i>
        <i ng-show="evento.active==item.id" class="fa fa-minus-square-o fa-2x"></i>
        </a>
      </div>


      </td>
      <td class="col-sm-2">{{  item.numerotrampa }}</td>
      <td class="col-sm-2">{{  item.ubicacionname }}</td>
      <td class="col-sm-2">{{  item.clasificacionname }}</td>
      <td class="col-sm-2">{{  item.fechaevento }}</td>
      <td class="col-sm-2">{{  item.semana }}</td>
      <td class="col-sm-2">{{  item.descripcion }}</td>

      <td>
      <button class="btn btn-default btn-xs btn-detail" ui-sref="editEvento" >
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Edit </button>
      <button class="btn btn-danger btn-xs btn-delete" ng-click="deleteEvento(item.id)" >Delete</button>
      </td>

   </tr>   
  <tr class="row" ng-show="evento.active==item.id" ng-repeat-end="">
           <td colspan="8" >
                <table>
                  <thead>
                    <tr >
                      <th class="col-sm-2"></th>
                      <th class="col-sm-2"  >Plaga</th>
                      <th  class="col-sm-2" >Cantidad</th>
                    </tr>
                  </thead>
                  <tbody>  
                      <tr   ng-repeat="item2 in evento.detalles" >
                        <td class="col-sm-2"></td>
                        <td class="col-sm-2" >{{  item2.name }}</td>
                        <td class="col-sm-2 text-center" >{{  item2.quantity}}</td>
                      </tr>   
                  </tbody>
                </table>  
            </td>
    </tr>
  </tbody>
</table>
 